

#homeSection {
    text-align: center;
}

#homeH1{
    padding-top: 50px;
    width: 60%;
    margin: 0 auto;
}

#homeH3 {
    justify-self: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

#homeBtn {
    background-color: rgb(112, 56, 164);
    font-size: 24px;
    font-weight: bold;
    color: white;
}
#high-scores{
    width: 60%;
    margin: 0 auto;
}
#answerOptions{
    width: 60%;
    margin: 0 auto;
}

#allDone{
    width: 60%;
    margin: 0 auto;
}

#rightWrong{
    width: 60%;
    margin: 0 auto;
}

.aButtons{
    background-color: rgb(112, 56, 164);
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.high-scores{
  
    font-size: 24px;
    font-weight: bolder;
    text-align: start;
    padding: 0.25em;
    justify-content: start;
}
.form-inline {
    width: 100%;
    justify-content: start;
    margin: 0 auto;
    padding-top: 1em;
}
.hsInput {
    margin-right: 5%;
    font-size: 24px;
}
.hsSubmit{
    background-color: rgb(112, 56, 164);
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-right: 2em;
    padding-left: 2em;
}